.add-basket-item-form {
  border-top: 1px solid #bbbbbb;
  padding-top: 1rem;
  margin-top: 1rem;
  background: #e8e8e8;
  max-width: 40rem;
}

.add-basket-item-form__input {
  padding: 1rem 2rem;
  border-radius: 4px;
  max-width: 20rem;
  font-size: 30px;
}